<!-- <H1>WELCOME TO {{title}}</H1>
<app-demo></app-demo>
<app-test></app-test> -->
<!-- <a routerLink="home">Home</a><br>
<a routerLink="test">Test</a>
<ul>
    <li *ngFor="let word of myarray">{{word}}</li>
</ul>
<select name="name" id="name">
    <option *ngFor="let name of myarray">{{name}}</option>
</select>
<div *ngIf="condition">
    My first div
</div>
<input type="text" value={{data}}>
<router-outlet></router-outlet>
<button (click)="myevent()">click</button> -->

<!-- <button (click)="myevent($event)">click</button> -->


<router-outlet></router-outlet>
<!-- <input (input)="getData($event)">
<input (input)="getData1()"> -->
 <app-calculator></app-calculator>