<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
<!-- <H1>WELCOME TO {{title}}</H1>
<app-demo></app-demo>
<app-test></app-test> -->
<!-- <a routerLink="home">Home</a><br>
<a routerLink="test">Test</a>
<ul>
    <li *ngFor="let word of myarray">{{word}}</li>
</ul>
<select name="name" id="name">
    <option *ngFor="let name of myarray">{{name}}</option>
</select>
<div *ngIf="condition">
    My first div
</div>
<input type="text" value={{data}}>
<router-outlet></router-outlet>
<button (click)="myevent()">click</button> -->

<!-- <button (click)="myevent($event)">click</button> -->

<!-- <app-registration></app-registration> -->
<!-- <app-editor></app-editor> -->
<router-outlet></router-outlet>
<app-calculator></app-calculator>


 <!-- <input (input)="getData($event)">
<input (input)="getData1()">  
<fa-icon [icon]="bell" style="color: mediumblue; font-size: 30px;"> </fa-icon><br><br>
<fa-icon [icon]="address" style="color:green;font-size: 30px;"> </fa-icon><br><br>
<fa-icon [icon]="thumbs" style="color: red;font-size: 30px;"> </fa-icon>
<input (input)="setColor($event)">
<p [ngStyle]="{'color':'red'}">WELCOME to POOTHAKUZHIYIL</p>
<p [ngStyle]="{'color':mycolor}">WELCOME to POOTHAKUZHIYIL</p>
<p [ngStyle]="mystyle">WELCOME to POOTHAKUZHIYIL</p>
<p [ngClass]="{'blueEnabled':true}">welcome</p>
<p [ngClass]='condition?"blueEnabled":"blueDisabled"'>welcome</p> -->





